.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.header__title {
  font-family: Noto Serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  margin: 202px 0 0;
  color: #2f80ed;
}

.header__under {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin: 0;
}

.header__description {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 28px 0 0;
}

.header__address {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: #838383;
}

.header__footer {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 80px 0;
  justify-content: space-between;
  box-sizing: border-box;
}

.header_image {
  z-index: 0;
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}
